<h1>My Cart</h1>

<% @selections.each do |selection| %>
  <%= render selection.product, remove_from_cart: true %>
<% end %>

<% if @selections.empty? %>
  <p><em>empty</em></p>
<% end %>

<% if @selections.any? %>
  <aside class="pull-right">
    <%= link_to 'check out', new_order_path, class: 'btn btn-success' %>
  </aside>

  <p>
    <%= link_to 'empty', cart_path, class: 'btn btn-danger', data: { method: 'delete' } %>
  </p>
<% end %>
