<h1>My Cart</h1>

<% @selections.each do |selection| %>
  <p>
    <strong><%= selection.product.name %></strong> $<%= '%.02f' % selection.product.cost %><br>
    <%= selection.product.description %>
  </p>
<% end %>

<% if @selections.empty? %>
  <p><em>empty</em></p>
<% end %>

<p>
  <%= link_to 'empty', cart_path, data: { method: 'delete' } %>
</p>
